/*for sidebar inner pages larger screens*/
@media screen and (min-width: 1900px) {
    div.sidebar{
      width:75%;
    }
    .home-doctors img {
    width: 233px !important;
    height: 192px !important;
}
.home-doctors h3 {
    position: absolute;
    top: 45%;
    left: 29px;
    width: 71% !important;
    text-align: center;
    opacity: 0;
    z-index: 1;
    color: #ffffff;
    padding: 7px 0px;
}
 }

 /*END for sidebar inner pages larger screens*/



@media screen and (max-width: 600px) {

 .animate-arrow {
    left: 10px;
    padding: 1px 134px !important;

}
.numberone,.numbertwo,.numberthree h2 {
    font-weight: 900;
    font-size: 20px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.navbar-toggle {
   position: relative;
   float: right;
   padding: -18px 0px;
   margin-top: -53px;
   margin-right: -10px;
   margin-bottom: 8px;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 4px;
}
/*p, li{
    margin-right: 9px;
}*/

.firstsec-title {
    text-align: center;
    margin: 62px 0px;
    padding: 100px 0px;
    color: #ffffff;
}

.firstsection {
    background: linear-gradient(0deg,rgba(2,38,56,0.8),rgba(0,0,0,0.8)),url(assets/Shipping-Banner12.jpg) center center;
    height: 265px !important;
}

.home-doctors {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    left: 62px;
}
.mob-logo img {
	width: 183px;
    margin-top: -32px;
} 
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    height: 105px;
}
.home-doctors h3 {
    position: absolute;
    top: 41%;
    left: 22px;
    width: 69%;
    text-align: center;
    opacity: 0;
    z-index: 1;
    color: #ffffff;
    padding: 5px 0px;
}
.home-doctors img {
    width: 146px;
    height: 146px;
}

body{
    overflow-x: hidden;
}

}
/*Larger Screen Media Queries*/


